ADDR=:8080
AWS_REGION=sa-east-1
AWS_RETRY_LIGHT=1

DB_USERNAME=root
DB_PASSWORD=local-password
DB_NAME=tbl_ingestion
DB_HOST=127.0.0.1
DB_PORT=3306

SQS_QUEUE_URL=http://localhost:4566/000000000000/click-events
SQS_ENDPOINT=http://localhost:4566

ADMIN_TOKEN=local-admin-token
